.Chat-main
  .Chat-main__group-info
    .Chat-main__group-name
      test
    .Chat-main__group-edit
      edit
      = link_to "#", class: "Chat-main__btn--edit"
  .Chat-main__message-list
  .Chat-main__message-form