.Chat-main
  .Chat-main__group-info
    .Chat-main__group
      .Chat-main__group-name
        test
      .Chat-main__group-member
        Member: masa
    = link_to "#", class: "Chat-main__edit-btn" do
      edit
  .Chat-main__message-list
  .Chat-main__message-form