.Side-bar
  .Side-bar__user-name
    .Side-bar__user-name__top-items
      .Side-bar__user-name__top-items__name
        masa
      .Side-bar__user-name__top-items__icons
      = link_to "#", class: "edit--btn" do
        = icon('far', 'edit', class: 'edit--btn')
      = link_to "#", class: "cog--btn" do
        = icon('fas', 'cog', class: 'cog--btn')
  .Side-bar__group-list
