.Side-bar
  .Side-bar__user-name
    .Side-bar__top-items
      .Side-bar__name
        masa
      .Side-bar__icon-list
        = link_to "#", class: "Side-bar__btn Side-bar__btn--edit" do
          = icon('far', 'edit', class: "Side-bar__btn--icon")
        = link_to "#", class: "Side-bar__btn Side-bar__btn--cog" do
          = icon('fas', 'cog', class: "Side-bar__btn--icon")
  .Side-bar__group-list
    .Side-bar__group-box
      .Side-bar__group-name
        TECH CHAMP
      .Side-bar__group-message
        まだメッセージがありません
    .Side-bar__group-box
      .Side-bar__group-name
        TECH CHAMP2
      .Side-bar__group-message
        まだメッセージがありません
    .Side-bar__group-box
      .Side-bar__group-name
        TECH CHAMP3
      .Side-bar__group-message
        まだメッセージがありません
    
