.Side-bar
  .Side-bar__user-name
    .User-name__top-items
      .Top-items__name
        masa
      .Top-items__icons
        = link_to "#", class: "Icons__btn Icons__btn--edit" do
          = icon('far', 'edit', class: 'Icons__btn--icon')
        = link_to "#", class: "Icons__btn Icons__btn--cog" do
          = icon('fas', 'cog', class: 'Icons__btn--icon')
  .Side-bar__group-list
