* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
}

.Side-bar {
  height: 100vh;
  width: 300px;
  background-color: #253141;
  &__user-name {
    height: 100px;
    background-color: #253141;
    display: flex;
    align-items: center;
  }
  &__top-items {
      height: 20px;
      width: 260px;
      margin: 0 20px;
      background-color: #253141;
      display: flex;
      justify-content: space-between;
  }
  &__name {
    color: #ffffff;
    font-size: 16px;
  }
  &__icon-list {
    width: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  &__btn{
    color: #ffffff;
    text-decoration: none;
    &--cog {
      margin: 0 0 0 5px;
    }
  }

  &__group-list {
    height: calc(100vh - 100px);
    background-color: #2f3e51;
  }
  &__group-box {
    padding: 20px 20px 40px;
  }
  &__group-name {
    color: #ffffff;
    font-size: 15px;
    
  }
  &__group-message{
    color: #ffffff;
    font-size: 11px;
    margin: 5px 0 0 0;
  }
}




.Chat-main {
  height: 100vh;
  width: calc(100vw - 300px);
  background-color: #ffffff;
  &__group-info {
    height: 100px;
    background-color: #ffffff;
    border-bottom: 1px solid  #eeeeee;
    display: flex;
    justify-content: space-between;
  }

  &__group {
    margin: 35px 0 0 40px;
  }
  &__group-name {
    color: #333333;
    font-size: 20px;
  }
  &__group-member {
    color: #999999;
    font-size: 12px;
    margin-top: 15px;
  }

  &__group-edit {
    width: 72px;
    margin: 0 40px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__edit-btn {
    color: #38aef0;
    text-decoration: none;
    font-size: 16px;
  }

  &__message-list {
    height: calc(100vh - 100px - 90px);
    background-color: #fafafa;
  }
  &__message-form {
    height: 90px;
    background-color: #d2d2d2;
  }
}