* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
}

.Side-bar {
  height: 100vh;
  width: 300px;
  background-color: #253141;
  &__user-name {
    height: 100px;
    background-color: #253141;
    display: flex;
    align-items: center;
    &__top-items {
      height: 20px;
      width: 260px;
      background-color: #d8d8d8;
      &__name {
        
      }
      &__icons {
        
      }
    }
  }
  &__group-list {
    height: calc(100vh - 100px);
    background-color: #2f3e51;
  }
}

.Chat-main {
  height: 100vh;
  width: calc(100vw - 300px);
  background-color: #ffffff;
  &__group-info {
    height: 100px;
    background-color: #ffffff;
    border-bottom: 1px solid  #eeeeee;
  }
  &__message-list {
    height: calc(100vh - 100px - 90px);
    background-color: #fafafa;
  }
  &__message-form {
    height: 90px;
    background-color: #d2d2d2;
  }
}