* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
}

.Side-bar {
  height: 100vh;
  width: 300px;
  background-color: #253141;
  &__user-name {
    height: 100px;
    background-color: #253141;
    display: flex;
    align-items: center;
  }
  &__top-items {
      height: 20px;
      width: 260px;
      margin: 0 20px;
      background-color: #253141;
      display: flex;
      justify-content: space-between;
  }
  &__name {
    color: #ffffff;
    font-size: 16px;
  }
  &__icon-list {
    width: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  &__btn{
    color: #ffffff;
    text-decoration: none;
    &--cog {
      margin: 0 0 0 5px;
    }
  }

  &__group-list {
    height: calc(100vh - 100px);
    background-color: #2f3e51;
  }
  &__group-box {
    padding: 20px 20px 40px;
  }
  &__group-name {
    color: #ffffff;
    font-size: 15px;
    
  }
  &__group-message{
    color: #ffffff;
    font-size: 11px;
    margin: 5px 0 0 0;
  }
}




.Chat-main {
  height: 100vh;
  width: calc(100vw - 300px);
  background-color: #ffffff;
  &__group-info {
    height: 100px;
    background-color: #ffffff;
    border-bottom: 1px solid  #eeeeee;
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
  }

  &__group {
    margin-top: 35px;
  }
  &__group-name {
    color: #333333;
    font-size: 20px;
  }
  &__group-member {
    color: #999999;
    font-size: 12px;
    margin-top: 15px;
  }

  &__edit-btn {
    display: block;
    width: 72px;
    height: 40px;
    padding: 0 20px;
    margin-top: 28px;
    color: #38aef0;
    text-decoration: none;
    font-size: 16px;
    border: 1px solid #38aef0;
    line-height: 40px;
  }

  &__message-list {
    height: calc(100vh - 100px - 90px);
    background-color: #fafafa;
    padding: 35px 40px 0;
    box-sizing: border-box;
  }
  
  &__message-box {
    margin-bottom: 46px;
  }

  &__message-info {
    display: flex;
  }

  &__poster-name {
    color: #333333;
    font-size: 16px;
    margin-right: 10px;
  }

  &__message-date {
    color: #999999;
    font-size: 12px;
  }

  &__message-text {
    margin-top: 12px;
    color: #434A54;
  }

  &__footer {
    height: 90px;
    background-color: #d2d2d2;
  }
 

  &__message-form {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  &__input-box {

  }

  &__text-form {
    padding: 0 0px 0 10px;
    width: 100%;
    color: #434a54;
    border-style: none;
  }

  &__image-form {

  }

  &__image-btn {

  }

  &__image-file {
    display: none;
  }

  &__submit-btn {
    background-color: #38aef0;
    color: #fff;
    font-size: 16px;
    height: 50px;
    padding: 0 30px;
    margin-left: 15px;
  }
}